.advertisement_wrapper{
    height: 3rem;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    color: greenyellow;
}

.advertisement_wrapper div{
    margin: auto 1rem;
    font-size: larger;
}

.advertisement_wrapper button{
    margin: auto 1rem;
    padding: 0.4rem;
    background-color: greenyellow;
    color: white;
    font-size: medium;
    border-radius: 0.5rem;
    cursor: pointer;
}
