.header_wrapper{
    height: 6rem;
    width: 100%;
    background-color: aqua;
    justify-content: space-between;
    display: flex;
}

.left_header, .right_header{
    display: flex;
}

.left_header > div, .right_header > div {
    margin: auto 1.5rem;
    font-size: large;
    cursor: pointer;
    display: flex;
}

.left_header div:first-child{
    font-weight: bolder;
    font-size: larger;
}

.left_header div div:last-child{
    transform: rotate(90deg);
}